.container {
    background-color: #EEEEEE; 
    border-radius: 8px 8px 8px 8px; 
    height: 615px; 
    margin-left: auto; 
    margin-right: auto; 
    position: relative; 
    width: 784px;
}

.canvas {
    background-color: #000000; z-index: 30; border: 1px solid #BBBBBB;
        display: block;
        height: 520px;
        left: 10px;
        overflow: hidden;
        position: absolute;
        top: 15px;
        width: 760px;
}